/* Overpass google fonts */
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Orange-500: hsl(25, 97%, 53%);
  --White: hsl(0, 100%, 100%);
  --Grey-500: hsl(217, 12%, 63%);
  --Grey-900: hsl(213, 19%, 18%);
  --Grey-950: hsl(216, 12%, 8%);
}
body {
  background-color: var(--Grey-950);
  height: 100vh;
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
.rating {
  width: 300px;
  height: 300px;
  background-color: var(--Grey-900);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 2rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}
.star {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: hsl(216deg 13.16% 27.1%);
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 17px;
  height: 17px;
}
h2 {
  font-family: "Overpass", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}
p {
  font-family: "Overpass", sans-serif;
  color: var(--Grey-500);
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}
.buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  font-family: "Overpass", sans-serif;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: hsl(216deg 13.16% 27.1%);
  color: var(--Grey-500);
  border: none;
  cursor: pointer;
}
.buttons button:hover {
  background-color: var(--Orange-500);
  color: var(--Grey-950);
}
.submit {
  font-family: "Overpass", sans-serif;
  background-color: var(--Orange-500);
  color: var(--Grey-950);
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  padding: 7px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  font-size: 12px;
}
.submit:hover {
  background-color: var(--White);
}

/* Rating div  */
.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rating img {
  width: 100px;
  height: 80px;
}
.selection {
  border-radius: 0.8rem;
  background-color: hsl(216deg 13.16% 27.1%);
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  margin-top: 1rem;
  padding: 2px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: fit-content;
}
.selection p {
  color: hsl(25deg 70.66% 51.99%);
  margin-top: 2px;
  font-size: 13px;
}

.container {
  /* display: none; */
}
.rating {
  display: none;
}
button.active {
  background-color: var(--White) !important;
  color: var(--Grey-950);
}
